{% extends 'frontend.html' %} {% load static %} {% block body %}
<!-- start banner Area -->
<section class="about-banner relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <a href="{% url 'categorias' evento.categoriaid_categoria.id_categoria %}">
                    <h1 class="text-white">
                        {{evento.categoriaid_categoria.nombre}}
                    </h1>
                </a>
                <p class="text-white link-nav"><a href="{% url 'portada' %}">Обложка </a> <span class="lnr lnr-arrow-right"></span> <a href="{% url 'evento' evento.id_evento %}"> {{evento.nombre}}</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Start insurence-one Area -->
<section class="insurence-one-area section-gap">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 insurence-left">
                <img class="img-fluid img-one" src="{% static 'mainApp/img/eventos/' %}{{evento.foto}}" alt="">
            </div>
            <div class="col-lg-6 insurence-right">
                <h6 class="text-uppercase">Need to know</h6>
                <h1>{{evento.nombre}}</h1>
                <p>
                    {{evento.descripcion}}
                </p>
                <div class="list-wrap">
                    <ul>
                        <li>Цене: {{evento.precio}} руб</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End insurence-two Area -->
<!-- Start testimonial Area -->
<section class="testimonial-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Отзывы наших клиентов</h1>
                    <p>Что наши клиенты думают о работе, которую мы предоставляем? </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-testimonial">
                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="img-fluid" src="{% static 'mainApp/img/elements/user1.png' %}" alt="">
                    </div>
                    <div class="desc">
                        <p>
                            Хотите быть еще более успешным? Научитесь любить обучение и рост. Чем больше усилий вы вкладываете в совершенствование своих навыков, тем больше награда.
                        </p>
                        <h4>Harriet Maxwell</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="img-fluid" src="{% static 'mainApp/img/elements/user2.png' %}" alt="">
                    </div>
                    <div class="desc">
                        <p>
                            Цель-это вечное условие успеха. Каждый бывший курильщик может сказать вам, как трудно бросить курить. Однако.
                        </p>
                        <h4>Carolyn Craig</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="img-fluid" src="{% static 'mainApp/img/elements/user1.png' %}" alt="">
                    </div>
                    <div class="desc">
                        <p>
                            Хотите быть еще более успешным? Научитесь любить обучение и рост. Чем больше усилий вы вкладываете в совершенствование своих навыков,тем больше отдача.
                        </p>
                        <h4>Harriet Maxwell</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="img-fluid" src="{% static 'mainApp/img/elements/user2.png' %}" alt="">
                    </div>
                    <div class="desc">
                        <p>
                            Цель-это вечное условие успеха. Каждый бывший курильщик может сказать вам, как трудно бросить курить. Однако.
                        </p>
                        <h4>Carolyn Craig</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="img-fluid" src="{% static 'mainApp/img/elements/user1.png' %}" alt="">
                    </div>
                    <div class="desc">
                        <p>
                            Хотите быть еще более успешным? Научитесь любить обучение и рост. Чем больше усилий вы вкладываете в совершенствование своих навыков,тем больше отдача.
                        </p>
                        <h4>Harriet Maxwell</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="img-fluid" src="{% static 'mainApp/img/elements/user2.png' %}" alt="">
                    </div>
                    <div class="desc">
                        <p>
                            Цель-это вечное условие успеха. Каждый бывший курильщик может сказать вам, как трудно бросить курить. Однако.
                        </p>
                        <h4>Carolyn Craig</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End testimonial Area -->
{% endblock %}