{% extends 'frontend.html' %} {% load static %}
<!-- Body -->
{% block body %}
<!-- start banner Area -->
<section class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-between">
            <div class="col-lg-6 col-md-6 banner-left">
                <h6 class="text-white">Держитесь подальше от однообразия</h6>
                <h1 class="text-white">Волшебные Путешествия</h1>
                <p class="text-white">
                    Если вы ищете место, чтобы расслабиться и оставить весь стресс современной жизни позади, а также тратить на это мало. Приезжайте на Кубу и наслаждайтесь уникальным, расслабляющим и веселым опытом!!! Вы это заслужили!!!
                </p>
                <a href="#" class="primary-btn text-uppercase">Давай</a>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Start popular-destination Area -->
<section class="popular-destination-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Популярные Направления</h1>
                    <p>Мы живем в эпоху, принадлежащую людям с молодым сердцем. Жизнь проходит очень быстро.</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for lugar in lugares%}
            <div class="col-lg-4">
                <div class="single-destination relative">
                    <div class="thumb relative">
                        <div class="overlay overlay-bg"></div>
                        <img class="img-fluid" src="{{lugar.foto.url}}" alt="">
                    </div>
                    <div class="desc">
                        <a href="#" class="price-btn">подробнее</a>
                        <h4>{{lugar.nombre}}</h4>
                        <p>{{lugar.descripcion}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End popular-destination Area -->

<!-- Start other-issue Area -->
<section class="other-issue-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10">Что я могу найти на Кубе</h1>
                    <p>Познакомьтесь с культурой страны, которая, кажется, остановлена во времени</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for evento in eventos %}
            <div class="col-lg-3 col-md-6">
                <div class="single-other-issue">
                    <div class="thumb">
                        <img class="img-fluid" src="{{evento.foto.url}}" alt="">
                    </div>
                    <a href="{% url 'evento' evento.id_evento %}">
                        <h4>{{evento.nombre}}</h4>
                    </a>
                    <p>
                        {{evento.descripcion}}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End other-issue Area -->

<!-- Start home-about Area -->
<section class="home-about-area">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-end">
            <div class="col-lg-6 col-md-12 home-about-left">
                <h1>
                    {{oficina.nombre}}
                </h1>
                <p>
                    {{oficina.descripcion}}
                </p>
                <a href="#" class="primary-btn text-uppercase">дополнительная информация</a>
            </div>
            <div class="col-lg-6 col-md-12 home-about-right no-padding">
                <img class="img-fluid" src="{{oficina.foto.url}}" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End home-about Area -->

<!-- Start blog Area -->
<section class="recent-blog-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10">Популярные Категории</h1>
                    <p>Куба хорошо известна своей культурой и хамабильностью своих жителей.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-recent-blog-carusel">
                {% for categoria in categorias%}
                <div class="single-recent-blog-post item">
                    <div class="thumb">
                        <img class="img-fluid" src="{{categoria.foto.url}}" alt="">
                    </div>
                    <div class="details">
                        <div class="tags">
                            <ul>
                                {% for evento in categoria.evento %}
                                <li>
                                    <!-- a href="#">Travel</a> -->
                                </li>
                                <li>
                                    <!-- a href="#">Otos</a> -->
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <a href="{% url 'categorias' categoria.id_categoria %}">
                            <h4 class="title">{{categoria.nombre}}</h4>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Start testimonial Area -->
        <section class="testimonial-area section-gap">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-70 col-lg-8">
                        <div class="title text-center">
                            <h1 class="mb-10">Отзывы наших клиентов</h1>
                            <p>Что наши клиенты думают о работе, которую мы предоставляем? </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="active-testimonial">
                        <div class="single-testimonial item d-flex flex-row">
                            <div class="thumb">
                                <img class="img-fluid" src="{% static 'mainApp/img/elements/user1.png' %}" alt="">
                            </div>
                            <div class="desc">
                                <p>
                                    Хотите быть еще более успешным? Научитесь любить обучение и рост. Чем больше усилий вы вкладываете в совершенствование своих навыков, тем больше награда.
                                </p>
                                <h4>Harriet Maxwell</h4>
                                <div class="star">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial item d-flex flex-row">
                            <div class="thumb">
                                <img class="img-fluid" src="{% static 'mainApp/img/elements/user2.png' %}" alt="">
                            </div>
                            <div class="desc">
                                <p>
                                    Цель-это вечное условие успеха. Каждый бывший курильщик может сказать вам, как трудно бросить курить. Однако.
                                </p>
                                <h4>Carolyn Craig</h4>
                                <div class="star">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial item d-flex flex-row">
                            <div class="thumb">
                                <img class="img-fluid" src="{% static 'mainApp/img/elements/user1.png' %}" alt="">
                            </div>
                            <div class="desc">
                                <p>
                                    Хотите быть еще более успешным? Научитесь любить обучение и рост. Чем больше усилий вы вкладываете в совершенствование своих навыков,тем больше отдача.
                                </p>
                                <h4>Harriet Maxwell</h4>
                                <div class="star">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial item d-flex flex-row">
                            <div class="thumb">
                                <img class="img-fluid" src="{% static 'mainApp/img/elements/user2.png' %}" alt="">
                            </div>
                            <div class="desc">
                                <p>
                                    Цель-это вечное условие успеха. Каждый бывший курильщик может сказать вам, как трудно бросить курить. Однако.
                                </p>
                                <h4>Carolyn Craig</h4>
                                <div class="star">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial item d-flex flex-row">
                            <div class="thumb">
                                <img class="img-fluid" src="{% static 'mainApp/img/elements/user1.png' %}" alt="">
                            </div>
                            <div class="desc">
                                <p>
                                    Хотите быть еще более успешным? Научитесь любить обучение и рост. Чем больше усилий вы вкладываете в совершенствование своих навыков,тем больше отдача.
                                </p>
                                <h4>Harriet Maxwell</h4>
                                <div class="star">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial item d-flex flex-row">
                            <div class="thumb">
                                <img class="img-fluid" src="{% static 'mainApp/img/elements/user2.png' %}" alt="">
                            </div>
                            <div class="desc">
                                <p>
                                    Цель-это вечное условие успеха. Каждый бывший курильщик может сказать вам, как трудно бросить курить. Однако.
                                </p>
                                <h4>Carolyn Craig</h4>
                                <div class="star">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End testimonial Area -->
    </div>
</section>
{% endblock %}